<html>
<body>
<h3> Hello  ${userAccount.userId} </h3>


 <div >
 This email is from the The Hotel Administration Work Experience Tracking System in response to a request for new password.
 <br/>
 Your user name is <span style = font-weight:bold>  ${userAccount.userId} </span>
 and new temporary password will be: <span style = font-weight:bold> ${password}. </span>
<br/>
<br/>
You can personalize your password by creating a new once, once logged into the system.
<br/>
<br/>
<br/>
If you have any questions, contact the OSA at 702-895-3616 for assistance. 
<br/>
<a href="http://hotel.unlv.edu/contact/">College of Hotel Administration</a>
<br/>
<br/>
Thank You
<br/>
<br/>
Hotel College Advising Department

</div>
</body>
</html>